@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
}

header{
    text-align: center;
    margin-top: 1.5em;
    font: lighter 12pt arial;
    color: white;
}

main {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
    margin: auto;
    margin-top: 1.5em;
    min-height: 20em;
    min-width: 30em;
    max-width: max-content;
    border-radius: 5px;
}

div#horario {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2em;
}

img {
    display: block;
    margin: auto;
    margin-top: 2em;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    border: 0px solid black;
    background-color: blueviolet;
}